.wrap {
    background: yellow;
    margin: auto;
    min-width: 600px;
    overflow: hidden;
    width: 80%;
}

.content {
    background: rebeccapurple;
    float: left;
    width: 80%;
}

aside {
    background: brown;
    float: left;
    width: 20%;
}

.content, aside {
    height: 600px;
}

aside ul {
    list-style: none;
    padding-left: 0;
}