body {
    width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
}

h2 {
    font-size: 39px;
    line-height: 43px;
    letter-spacing: -1px;
}

a {
    color: #276056;
    font-size: 14px;
}

a:hover {
    color: black;
}

p {
    font-size: 14px;
    line-height: 21px;
}

article img {
    float: left;
    margin-right: 30px;
}

article h2 {
    margin: 0;
}

.continue {
    float: right;
}

.continue:before {
    content: '(';
}

.continue:after {
    content: ')';
}

.meta {
    padding-left: 0;
    margin: 0 0 8px;
}

.meta a, .post-info a {
    font-style: italic;
    font-size: 14px;
}

.meta li:after {
    content: '\\';
    padding: 0 2px;
    color: #999;
}

.meta li:last-child:after {
    content: none;
}

.meta li {
    display: inline;
}

.preview {
    float: right;
    width: 270px;
}

.post-info {
    background: #f3f3f3;
    color: #999;
    padding: 2px;
    float: left;
    font-size: 14px;
}

.post-info a {
    color: #999;
    text-decoration: none;
}

.body {
    clear: both;
    color: #575757;
}