/* =header */
header {
    overflow: hidden;
}

header h1 {
    background: url(http://via.placeholder.com/174x23) no-repeat;
    width: 174px;
    height: 23px;
    text-indent: -10000px;
    float: left;
    margin: 10px 10px 20px;
}

/* =nav */
nav {
    padding-top: 12px;
    float: right;
}

nav li {
    display: inline;
}

nav a {
    text-transform: lowercase;
}

/* =banner */
.banner {
    background: url(http://via.placeholder.com/695x231) no-repeat;
    width: 695px;
    height: 231px;
}

.banner h2 {
    color: white;
    font-size: 28px;
}

.callout {
    background: darkslategray;
    height: 231px;
}

/* =main */
.main {
    margin-top: 20px;
}

.main blockquote p {
    padding-left: 30px;
}

.main blockquote p:first-child:before,
.main blockquote p:last-child:after {
    font-size: 40px;
    color: #bfbfbf;
    font-style: italic;
}

.main blockquote p:first-child:before {
    content: '“';
    position: absolute;
    top: 7px;
    left: 0;
}

.main blockquote p:last-child:after {
    content: '”';
    float: right;
    position: absolute;
    bottom: -7px;
    right: 0;
}

/* =footer */
footer {
    clear: both;
    border-top: 1px solid #d1d1d1;
    padding-top: 18px;
    margin-top: 30px;
}

/* =miscellaneous */
a {
    color: #7e7e7e;
    text-decoration: none;
}

a:hover, .selected {
    color: black;
}

li {
    margin-left: 24px;
}

.button {
    background: #242324;
    padding: 6px;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
}

.button:hover {
    color: white;
    background: black;
}

p {
    font-size: 13px;
    line-height: 20px;
    color: #353535;
}

h1, h2 {
    letter-spacing: -1px;
}

h3 {
    font-size: 26px;
    text-transform: lowercase;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 20px;
    line-height: 1em;
}

.container_24 {
    margin-top: 10px;
}

blockquote {
    position: relative;
}

blockquote, blockquote p {
    font-size: 15px;
    line-height: 20px;
    font-style: italic;
    color: #0e0e0e;
}

/* =work */
.work h2,
.work h4 {
    font-weight: normal;
    font-size: 26px;
}

.work h2 {
    margin-bottom: 0;
}

.work img {
    margin-bottom: 20px;
}

.work h4 {
    color: #787878;
    line-height: 1.2em;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 33px;
    margin-bottom: 30px;
}