.container_12 {
    background: #BADA55;
}

aside {
    background: #E3E3E3;
}

.primary {
    background: #BADBAD;
}

header {
    background: violet;
}

nav {
    background: tomato;
}

nav li {
    display: inline;
    margin-left: 0;
    margin-right: 30px;
}

.main {
    margin: 30px 0;
}

section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}

