body {
    background-color: #e3e3e3;
    font-family: sans-serif;
}

.container {
    margin: auto;
    width: 750px; 
}

.quote {
    border: 1px solid white;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}